In [1]:
import pandas as pd
import numpy as np
import cv2

In [2]:
import os

In [3]:
os.getcwd()

'E:\\innomatics\\ml\\Dog Breed Image  classification'

In [4]:
os.listdir()

['.ipynb_checkpoints', 'dataset', 'dog_breed_clas.ipynb']

### Reading the files

In [16]:
file = os.getcwd()
file

'E:\\innomatics\\ml\\Dog Breed Image  classification\\dataset'

In [5]:
os.chdir(r"E:\innomatics\ml\Dog Breed Image  classification\dataset")
pic = []
breed = []
file = os.getcwd()
for i in os.listdir():
    
    path = file+"\\"+i
    os.chdir(path)

    for j in os.listdir():
        arr = np.array( cv2.imread(j),dtype = np.uint8)
        resized = cv2.resize(arr,(200,200))
        data = resized.flatten()
        
        pic.append(data)
        breed.append(i)

In [9]:
df1 =pd.DataFrame(breed,columns=["Breed"])

In [11]:
df2 = pd.DataFrame(pic)

In [10]:
pd.DataFrame(pic)

,0,1,2,3,4,5,6,7,8,9,...,119990,119991,119992,119993,119994,119995,119996,119997,119998,119999
0,0,1,0,0,2,0,0,3,1,2,...,143,108,121,143,109,122,144,109,122,144
1,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,255
2,201,178,186,200,181,188,196,180,186,183,...,170,145,154,166,144,152,162,145,152,161
3,221,215,220,221,216,221,223,217,222,225,...,87,51,96,85,44,91,82,43,92,84
4,148,154,159,147,153,158,147,153,158,149,...,134,130,135,133,129,134,132,128,133,131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,31,17,19,31,17,19,30,16,18,30,...,194,213,204,194,212,203,193,212,203,193
963,255,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,255
964,75,73,95,75,73,94,73,73,93,71,...,91,57,159,95,54,158,97,47,153,94
965,33,70,60,33,70,60,33,70,60,34,...,60,36,70,60,36,70,60,36,70,60
966,57,101,94,55,99,92,51,95,88,46,...,44,86,57,41,89,59,41,89,59,40

In [12]:
df = pd.concat([df1,df2],axis=1)
df[

,Breed,0,1,2,3,4,5,6,7,8,...,119990,119991,119992,119993,119994,119995,119996,119997,119998,119999
0,Beagle,0,1,0,0,2,0,0,3,1,...,143,108,121,143,109,122,144,109,122,144
1,Beagle,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,255
2,Beagle,201,178,186,200,181,188,196,180,186,...,170,145,154,166,144,152,162,145,152,161
3,Beagle,221,215,220,221,216,221,223,217,222,...,87,51,96,85,44,91,82,43,92,84
4,Beagle,148,154,159,147,153,158,147,153,158,...,134,130,135,133,129,134,132,128,133,131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
962,Yorkshire_Terrier,31,17,19,31,17,19,30,16,18,...,194,213,204,194,212,203,193,212,203,193
963,Yorkshire_Terrier,255,255,255,255,255,255,255,255,255,...,255,255,255,255,255,255,255,255,255,255
964,Yorkshire_Terrier,75,73,95,75,73,94,73,73,93,...,91,57,159,95,54,158,97,47,153,94
965,Yorkshire_Terrier,33,70,60,33,70,60,33,70,60,...,60,36,70,60,36,70,60,36,70,60
966,Yorkshire_Terrier,57,101,94,55,99,92,51,95,88,...,44,86,57,41,89,59,41,89,59,40

In [13]:
os.chdir(r"E:\innomatics\ml\Dog Breed Image  classification")

In [14]:
df.to_csv("final.csv")

### Model building

In [4]:
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [3]:
df = pd.read_csv("final.csv")

In [6]:
X = df.drop("Breed",axis=1)
y = df["Breed"]

In [7]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=22)

In [20]:
# KNN classifier
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X_train,y_train)
y_pred = knn.predict(X_test)
accuracy_score(y_pred,y_test)

0.788659793814433

In [21]:
# decission tree
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(X_train,y_train)
y_pred = dt.predict(X_test)
accuracy_score(y_pred,y_test)

1.0

In [8]:
from sklearn.tree import DecisionTreeClassifier
dt = DecisionTreeClassifier()
dt.fit(X_train,y_train)

y_pred_train = dt.predict(X_train)
accuracy_score(y_pred_train,y_train)

1.0

In [22]:

import pickle

In [24]:
model = pickle.dump(dt,open(r"E:\innomatics\ml\Dog Breed Image  classification\dt_model.plk",'wb'))